* {
    margin: 0;
    padding: 0;
    font-family: 'Yuji Mai', serif;
}

.give {
    margin-bottom: 20px;
    color: #370617;
}

.canva {
    background: #212121;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: 70vmin;
    height: 70vmin;
    background: #b7b7a4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ghost {
    position: relative;
    border: 0.5vmin solid black;
    width: 30vmin;
    height: 30vmin;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;
    box-sizing: border-box;
    background: #606c38;
}

.legs {
    display: flex;
    width: 30vmin;
}

.legs div {
    width: 7.5vmin;
    height: 6vmin;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
    background: #606c38;
}

.arrow {
    border: solid black;
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 5px;
}

.arrow:before {
    content: "";
    border: solid black;
    border-width: 0 20px 20px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.eyes {
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    background: #000;
    border-radius: 50%;
    top: 13vmin;
    left: 5vmin;
    box-shadow: 14vmin 0;
}

.eyes:before {
    content: "";
    position: absolute;
    background: #ae2012;
    width: 2.5vmin;
    height: 2.5vmin;
    border-radius: 75%;
    top: 7px;
    left: 1.3vmin;
    box-shadow: 14vmin 0 #ae2012;
}

.mouth {
    position: absolute;
    width: 4vmin;
    height: 2vmin;
    border: 0.8vmin solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 0;
    top: 19vmin;
    left: 12vmin;
}


.left-hand,
.right-hand {
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    border: 0.5vmin solid black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: 0;
}

.left-hand {
    top: 20vmin;
    left: 0vmin;
    transform: rotate(-200deg)
}

.right-hand {
    top: 20vmin;
    left: 22.9vmin;
    transform: rotate(200deg)
}